---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y年%m月%d日" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </header>
    <br />
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
<br />
<div class="pagination">
  <table>
    <tr>
      {% if page.previous %}
        <td width="350" align="left"><a href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title }}">&laquo; 前一篇</a></td>
      {% else %}
        <td width="350" align="left"><span>&laquo; 前一篇</span></td>
      {% endif %}
        <td width="300" align="center"><a href="{{ site.baseurl }}">回首页</a></td>
      {% if page.next %}
        <td width="350" align="right"><a href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">后一篇 &raquo;</a></td>
      {% else %}
        <td width="350" align="right"><span>后一篇 &raquo;</span></td>
      {% endif %}
    </tr>
  </table>
</div>
<br />
<br />
{% if site.disqus-shortname %}{% include disqus.html %}{% endif %}
{% if site.duoshuo-shortname %}{% include duoshuo.html %}{% endif %}
